@media (max-width: 1200px) {
  .container,
  .container.fw {
    padding: 0 0;
  }
}

@media (max-width: 640px) {
  .service_items .item {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .service_items .item:last-of-type {
    margin-bottom: 0;
  }
  .social {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .social a {
    font-size: 17px;
    margin-right: 13px;
  }
  .footerlinks {
    float: left;
    width: 100%;
  }
  .footerlinks a {
    font-size: 17px;
  }
}
